@media screen and (max-width:850px){
    .price{
        width: 50%;
    }
    .descrip{
        display: none;
    }
    .donuts-div{
        height: 30%;
    }
}
@media screen and (max-width:720px){
    .inner{
        width: 80%;
        margin-left: 3em;
    }
    #next{
        width: 15%;
    }
    #contact1{
        width: 15%;
    }
}
@media screen and (max-width:550px){
    #main-h1{
        font-size: 4em;
    }
    #index-p{
        line-height: 3em;
    }
    .price{
        width: 70%;
    }
   
}

@media screen and (max-width:450px){
    #about-img1{
        display: none;
    }
    .inner{
        width: 80%;
        margin: 0 auto;
        margin-top: 2em;
    }
    #about-img2{
        display: none;
    }
    .pp1{
        font-size: 0.7em;
    }
  #story{
    font-size: 1em;
  }
  #mom{
    font-size: 2em;
  }
  .price-p{
    font-size: 0.75em;
  }
  #contact1{
    width: 20%;
  }
}
@media screen and (max-width:300px){
    .pp1{
        font-size: 0.5em;
    }
    #contact1{
        width: 30%;
    }
    
}